body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

nav {
  padding-bottom: 20px;
  background-color: #FBFAFB;
  margin-bottom: 20px;
  height: 6%;
}

nav img {
  height: 50px;
  width: 50px;
}
